<!DOCTYPE HTML>
<html>
    <head>
        <title>Organisation</title>
        <meta charset="utf-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <style>
          .title {
            border: none;
            /* height: 50px; */
            /* padding: 15px 50px; */
            text-align: center;
            text-decoration: none;
            font-size: 20px;
          }

          .input_class {
            display: vertical;
          }

          .restaurant_border {
            display: inline-block;
            width: 700px;
            padding: 10px;
            border: 5px solid green;
            margin: 0;
          }

        </style>

        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

        <script lang="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script lang="javascript">
            var contract;

            $(document).ready(function() {
                if (typeof web3 !== 'undefined') {
                    var sc_address = "{{contractAddress}}";
                    var contractABI = web3.eth.contract(JSON.parse('{{contractABI | safe}}'));
                    var contractInstance = contractABI.at(sc_address);
                    contract = contractInstance;

                    $("a#call_add_restaurant_to_competition").click(function(){
                        var name  = $("input#volunteer_name").val();
                        var addr  = $("input#volunteer_address").val();
                        contractInstance.add_restaurant_to_competition(name, addr, {from:web3.eth.accounts[0], 'value': 1000000000000000000}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                          // else {
                          //   $('#willhide').hide();
                          //   var d = new Date(new Date().getTime() + (expiration_copy*1000));
                          //   expiration = d;
                          //   $('#inserthere').append("<div class='restaurant_border'>" + "Restaurant name: " + name + "<br>" + "Offer expires: " + expiration + "<br>" + "Restaurant Address: " + web3.eth.accounts[0] + "</div>");
                          //   setTimeout(function(){ // test to trigger automatically
                          //       var address_1 = $("input#restaurant_address_1").val();
                          //       contractInstance.get_winner(address_1, {from:web3.eth.accounts[0]}, function(error, result){
                          //         if (error) {
                          //             alert("Please, connect to the network");
                          //             reject(error);
                          //         }
                          //       }); }, expiration_copy*1000);
                          // }
                        });
                    });
                    $("a#call_get_winner").click(function(){
                        var address_1 = $("input#restaurant_address_1").val();
                        contractInstance.get_winner(address_1, {from:web3.eth.accounts[0]}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                        });
                    });
                    $("a#call_show_winner").click(function(){
                        var address_1 = $("input#restaurant_address_1").val();
                        contractInstance.show_winner(address_1, {from:web3.eth.accounts[0]}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                          else {
                              $("span#winner").text("Winner: " + result);
                          }
                        });
                    });
                    $("a#call_sign_message").click(function(){
                        const message = web3.sha3($("input#message_to_sign").val());
                        web3.eth.sign(web3.eth.accounts[0], message, function(error, result) {
                            if (error) {
                                alert("Error");
                                reject(error);
                            }
                            else {
                                  $("span#hashed").html('Hashed message: ' + message);
                                  $("span#sign").html('Signature: ' + result);
                            }
                        });
                    });



                }
                else {
                    alert("Please, install Metamask!");
                }
            });
        </script>
    </head>
    <body class="subpage">
      <!-- Header -->
  			<header id="header">
  				<div class="inner">
  					<a href="customer" class="logo">OceanCoin</a>
  					<nav id="nav">
  						<a href="intro">Home</a>
  						<a href="restaurant">Organisation Page</a>
  					</nav>
  					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  				</div>
  			</header>

        <section id="three" class="wrapper">
  				<div class="inner">
  					<header class="title" >
  						<h2 style="color:black">Register Volunteer</h2>
  					</header>
            <div class="flex flex-2">
              <article>
                    <div class = "input_class">
                      <input type="text" id="volunteer_name" placeholder="Volunteer Name.."/>
                    </div>
                    <br />
                    <br />
                    <div class = "input_class">
                      <input type="text" id="volunteer_address" placeholder="Volunteer Address.."/>
                    </div>
                  <br />

                  <br />


                  <div id="willhide">
                    <h4 style="color:black">No volunteers yet</h4>
                  </div>

                  <div id="inserthere"></div>
                  <br />



                  <footer>
                    <a href="#" id="call_add_restaurant_to_competition" class="button special">Register Volunteer</a>
                  </footer>


  						</article>
            </div>
  				</div>





  			</section>



    </body>
</html>
