<!DOCTYPE HTML>
<html>
    <head>
        <title>Restaurants</title>
        <meta charset="utf-8" />
    		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <style>
          .title {
            border: none;
            padding: 15px 50px;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
          }

          .input_class {
            display: inline-block;
          }

          .restaurant_border {
            display: inline-block;
            width: 700px;
            padding: 10px;
            border: 5px solid green;
            margin: 0;
          }

        </style>

        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
  			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

        <script lang="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script lang="javascript">
            var contract;

            $(document).ready(function() {
                if (typeof web3 !== 'undefined') {
                    var sc_address = "{{contractAddress}}";
                    var contractABI = web3.eth.contract(JSON.parse('{{contractABI | safe}}'));
                    var contractInstance = contractABI.at(sc_address);
                    contract = contractInstance;

                    $("a#call_add_restaurant_to_competition").click(function(){
                        var name = $("input#restaurant_name").val();
                        var expiration = $("input#restaurant_expiration").val();
                        var expiration_copy = expiration;
                        contractInstance.add_restaurant_to_competition(name, expiration, {from:web3.eth.accounts[0], 'value': 1000000000000000000}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                          else {
                            $('#willhide').hide();
                            var d = new Date(new Date().getTime() + (expiration_copy*1000));
                            expiration = d;
                            $('#inserthere').append("<div class='restaurant_border'>" + "Restaurant name: " + name + "<br>" + "Offer expires: " + expiration + "<br>" + "Restaurant Address: " + web3.eth.accounts[0] + "</div>");
                            setTimeout(function(){ // test to trigger automatically
                                var address_1 = $("input#restaurant_address_1").val();
                                contractInstance.get_winner(address_1, {from:web3.eth.accounts[0]}, function(error, result){
                                  if (error) {
                                      alert("Please, connect to the network");
                                      reject(error);
                                  }
                                }); }, expiration_copy*1000);
                          }
                        });
                    });
                    $("a#call_get_winner").click(function(){
                        var address_1 = $("input#restaurant_address_1").val();
                        contractInstance.get_winner(address_1, {from:web3.eth.accounts[0]}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                        });
                    });
                    $("a#call_show_winner").click(function(){
                        var address_1 = $("input#restaurant_address_1").val();
                        contractInstance.show_winner(address_1, {from:web3.eth.accounts[0]}, function(error, result){
                          if (error) {
                              alert("Please, connect to the network");
                              reject(error);
                          }
                          else {
                              $("span#winner").text("Winner: " + result);
                          }
                        });
                    });
                    $("a#call_sign_message").click(function(){
                        const message = web3.sha3($("input#message_to_sign").val());
                        web3.eth.sign(web3.eth.accounts[0], message, function(error, result) {
                            if (error) {
                                alert("Error");
                                reject(error);
                            }
                            else {
                                  $("span#hashed").html('Hashed message: ' + message);
                                  $("span#sign").html('Signature: ' + result);
                            }
                        });
                    });



                }
                else {
                    alert("Please, install Metamask!");
                }
            });
        </script>
    </head>
    <body class="subpage">
      <!-- Header -->
  			<header id="header">
  				<div class="inner">
  					<a href="restaurant" class="logo">Restaurants</a>
  					<nav id="nav">
  						<a href="intro">Home</a>
  						<a href="customer">Customers Page</a>
  					</nav>
  					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  				</div>
  			</header>

        <section id="three" class="wrapper">
  				<div class="inner">
  					<header class="title" >
  						<h2 style="color:black">Welcome to the Restaurant platform!</h2>
  					</header>
            <div class="flex flex-2">
              <article>

                  <br />
                    <div class = "input_class">
                      <input type="text" id="restaurant_name" value="Insert name of restaurant here"/>
                    </div>
                    <div class = "input_class">
                      <input type="text" id="restaurant_expiration" value="Insert expiration here"/>
                    </div>
                  <br />
                  <footer>
    								<a href="#" id="call_add_restaurant_to_competition" class="button special">Add to Competition</a>
    							</footer>
                  <br />

                  <header class="title" >
        						<h2 style="color:black">Competitions</h2>
        					</header>

                  <div id="willhide">
                    <h4 style="color:black">No competitions yet</h4>
                  </div>

                  <div id="inserthere"></div>
                  <br />

                  <!-- Signature Section -->

                  <header class="align-center">
                    <h2> Signature Section below! </h2>
                  </header>

                  <br />
                    <div class = "input_class">
                      <input type="text" id="message_to_sign" value="Insert message to sign here"/>
                    </div>
                  <br />
                  <div class = "input_class">
                    <p><span id="hashed">No hashed yet</span></p>
                  </div>
                  <div class = "input_class">
                    <p><span id="sign">No signature yet</span></p>
                  </div>
                  <br />
                  <footer>
                    <a href="#" id="call_sign_message" class="button special">Sign</a>
                  </footer>
                  <br />
                  <br />

                  <!-- Winner Section -->

                  <header class="align-center">
                    <h2 style="color:black"> Winner Section below! </h2>
                  </header>

                  <div class = "input_class">
                    <input type="text" id="restaurant_address_1" value="Insert restaurant address here"/>
                  </div>
                  <div class = "input_class">
                    <p><span id="winner">No winner yet</span></p>
                  </div>
                  <footer>
    								<a href="#" id="call_get_winner" class="button special">Get winner!</a>
    							</footer>
                  <br />
                  <footer>
    								<a href="#" id="call_show_winner" class="button special">Show winner!</a>
    							</footer>


  						</article>
            </div>
  				</div>





  			</section>



    </body>
</html>
